:root {
    --color-orange: #FFC27A;
    --color-blue: #3461FD;
    --color-gray-100: #CFD3D6;
    --color-gray-700: #363A3D;
    --color-gray-black: #1B1D1F;
    --background-linear: linear-gradient(180deg, #FFC27A 0%, #FFA337 100%);;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Public Sans', sans-serif;
}

/*  */

.row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.col-quarter {
    width: 25%;
}

.container {
    width: calc(100% - 300px);
    margin: 0 auto;
}

.section-content {
    padding: 80px 0;
}

.heading {
    font-size: 40px;
    color: #21212F;
    font-weight: 600;
}

.heading span{
    color: #3461FD;
}

.sub-heading {
    color: #6D737A;
    margin: 16px 0 45px 0;
}

.btn {
    background: linear-gradient(180deg, #FFC27A 0%, #FFA337 100%);
    padding: 12px 24px;
    border-radius: 32px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.m-16 {
    margin: 16px 0;
}

.pb-40 {
    padding-bottom: 40px;
}

.p-all{
    padding: 80px 0 50px 0;
}

.green-color {
    background: linear-gradient(180deg, #2AF9B1 0%, #20B486 100%);
}

.purple-color {
    background: linear-gradient(180deg, #A988F9 0%, #6D3AE9 100%);
}

.red-color{
    background: linear-gradient(180deg, #FFA4AF 0%, #EE455A 100%);
}
.blue-color {
    background: linear-gradient(180deg, #92DAF0 0%, #21C9FF 100%);
}



/* header */
.header {
    background-color: #6176F7;
    height: 96px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header-container {
    width: calc(100% - 300px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 28px 0;
    align-items: center;
}

.header-container img {
    height: 40px;
    width: 106px;
    object-fit: contain;
}

.header-container .menu {
    display: flex;
    gap: 32px;
}

.header-container .menu li {
    list-style-type: none;
}

.header-container .menu a {
    text-decoration: none;
    color: white;
}

.auth .header-login {
    padding-right: 12px;
}

.auth a, i {
    text-decoration: none;
    color: white;
}


/* banner */
.banner {
    background-color: #6176F7;
}
.banner-container {
    display: flex;
    align-items: center;
}

.banner-container .banner-content{
    width: 100%;
    max-width: 677px;
}

.banner-container .banner-content h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--color-orange);
    line-height: calc(32px / 24px);
    margin-bottom: 24px;
}

.banner-container .banner-content h1 {
    font-size: 55px;
    font-weight: 600;
    line-height: calc(72 / 55);
    color: white;
    margin-bottom: 24px;
}

.banner-container .banner-content p {
    color: var(--color-gray-100);
    font-size: 20px;
    /* font-weight: 400; */
    line-height: calc(28 / 20);
    margin-bottom: 32px;
}

.banner-container .search-input {
    position: relative;
    width: 648px;
}

.banner-container .search-input input{
    width: 648px;
    height: 72px;
    border-radius: 38px;
    padding-left: 32px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: calc(24 / 16);
}

.banner-container .search-input input:focus {
    outline: unset;
}

.banner-container .search-input i{
    color: white;
    position: absolute;
    font-size: 24px;
    padding: 24px;
    background-color: var(--color-orange);
    border-radius: 50%;
    top: 0;
    right: 0;
}

.banner-img {
    width: 738px;
    height: 738px;
}

.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* statistic */
.statistic {
    background: #F1F2F8;
}

.statistic-list {
    padding: 40px 0;
}  

.statistic-list .statistic-item {
    display: flex;
    align-items: center;
}

.statistic-list .statistic-item .statistic-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    margin-right: 24px;
}

.statistic-list .statistic-item i {
    color: white;
    font-size: 24px;
    margin: auto;
} 

.statistic-item .statistic-body {
    line-height: 1.6;
}

.statistic-item .statistic-body h3{
    font-size: 24px;
    font-weight: 600;
}


/* Course */
.course {
    background-color: rgba(255, 255, 255, 0.873);
}

.course .course-list {
    margin-left: -50px;
    margin-right: -50px;
}

.course-list .course-item{
    padding: 16px;
    box-shadow: 4px 1px 24px 2px #ccc;
    border-radius: 10px;
}   

.course-item .course-content {

}


.course-item .course-img {
    position: relative;
}

.course-item .course-img p {
    position: absolute;
    padding: 6px 14px;
    background-color: #fff;
    border-radius: 5px;
    top: 3;
    top: 6px;
    left: 6px;
}

.course-item .course-img img {
    width: 100%;
    border-radius: 8px;
}

.course-item .course-text {
    margin: 16px 0; 
}

.course-list .course-item .course-star {
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px;
}

.course-item .course-star i {
    color: var(--color-orange);
}

.course-item .course-star span {
    margin-left: 10px;
}

.course-item .course-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}

.course-item .course-price p{
    font-size: 20px;
    font-weight: 600;
}

.course-item .course-price .course-price-icon {
    height: 44px;
    width: 44px;
    background: linear-gradient(180deg, rgba(255, 194, 122, 0.12) 0%, rgba(255, 163, 55, 0.12) 100%);
    display: flex;
    border-radius: 50%;
    /* box-shadow: 4px 1px 24px 2px #ccc; */
}

.course-item .course-price .course-price-icon i {
    margin: auto;
    font-size: 16px;
    color: var(--color-orange);
}

.course-item .course-price .course-price-icon:hover {
    background-color: var(--color-orange);
    cursor: pointer;
}

.course-item .course-price .course-price-icon:hover i {
    color: white;
}

.right-icon,
.left-icon {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    box-shadow: 4px 1px 24px 2px #ccc;
}

.left-icon:hover,
.right-icon:hover {
    background-color: var(--color-orange);
}

.left-icon i, 
.right-icon i {
    margin: auto;
    font-size: 16px;
    color: black;
}

.left-icon:hover i,
.right-icon:hover i{
    color: white;
}

.course-list-dot {
    text-align: center;
    margin-top: 45px;
}

.course-list-dot i[class*="fa-solid"]{
    color: var(--color-gray-100);
    font-size: 12px;
    margin: 0 6px;
}

.course-list-dot i:hover{
    color: var(--color-orange)
}

/* Category */

.category {
    background: rgba(231, 233, 235, 0.5)
}

.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 22px;
    box-shadow: 0 0 10px -5px #888888;
    border-radius: 22px;
    background-color: white;
}

.category-item .category-icon {
    
}

.category-item .category-icon i{
    color: black;
    padding-right: 10px;
    font-size: 20px;
}

.category-item .category-icon span{
    font-size: 20px;
}

.category-item .category-icon-arrow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    background: linear-gradient(180deg, rgba(255, 194, 122, 0.12) 0%, rgba(255, 163, 55, 0.12) 100%);
}

.category-item .category-icon-arrow i{
    color: var(--color-orange);
    margin: auto;
}

.category-item .category-icon-arrow:hover {
    background-color: var(--color-orange);
    cursor: pointer;
}
.category-item .category-icon-arrow:hover i {
    color: white;
}

/* instructor */

.instructor {
    background-color: rgba(255, 255, 255, 0.873);
}

.instructor-list {
    margin-left: -50px;
    margin-right: -50px;
}

.instructor-item {
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 4px 1px 24px 2px #ccc;
}

.instructor-item img{
    width: 100%;
}

.instructor-item h4{
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 6px;
}

.instructor-item p{
    color: #6D737A;
}   

/* Feedback */

.feedback {
    background-color: #F8F4FF;
}

.feedback-list {
    margin-left: -50px;
    margin-right: -50px;
}

.feedback-item {
    padding: 16px;
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 4px 1px 24px 2px #ccc;
}

.feedback-item .feedback-info {
    display: flex;  
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.feedback-item .feedback-info img{
    border-radius: 50%;
}

.feedback-info .feedback-info-detail {
    line-height: 1.6;
}

.feedback-info .feedback-info-detail h3{
    font-size: 20px;
}

.feedback-item .feedback-content {
    color: #363A3D;
    line-height: 1.4;
    width: 354px;
}

/* contact */

.contact-content h1{
    font-size: 40px;
    font-weight: 600;
}

.contact-content span{
    color: var(--color-blue);
}

.contact-content .contact-sub-heading {
    font-size: 20px;
    color: #52565C;
    margin: 20px 0;
}

.contact-content .contact-text {
    color: #6D737A;
    margin-bottom: 37px;
}

/* Footer */

footer {
    background-color: #21212F;
}

.footer-list {
    align-items: flex-start;
}

.footer-item img {
    margin-bottom: 20px;
}

.footer-item h2{
    color: white;
    margin-bottom: 16px;
}

.footer-item p{
    color: #CFD3D6;
    margin: 15px 0;
}

.footer-item .icon-brands {
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
}

.footer-item a i[class*="fa-brands"] {
    font-size: 20px;
    color: var(--color-blue);
    margin: auto;
}

.footer-item input {
    width: 312px;
    border-radius: 10px;
    height: 48px;
    border: unset;
    outline: unset;
    padding-left: 16px;
    font-size: 14px;
    color: #6D737A;
    margin-bottom: 32px;
    margin-top: 12px;
}

.footer-icon-brands {
    display: flex;
    gap: 12px;
}










